@{
    ViewData["Title"] = "Automotive Marketing";
}

<div class="mobile-content">
    <table class="mobile-monitor">
        <tr>
            <td>
                <img id="imgStatus" src="/images/auto_normal.png" data-normal="/images/auto_normal.png" data-renew="/images/auto_renew.png" alt="car" />
            </td>
        </tr>
        <tr>
            <td class="mobile-monitor-action">
                <p style="margin-top:20%;">
                    <label id="lblMileage" style="margin:0px;"></label>
                    <input type="hidden" id="mileage" value="22365">
                </p>
                <div id="slider-range-min" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                    <div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 5.15021%;">
                    </div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 5.15021%;"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="lblMessage" style="auto">&nbsp;</div>
                <input id="btnSend" type="button" value="Start Sending Data" class="btn-custom"/>
            </td>
        </tr>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        var urlAction = '/AutomotiveEvent/SendData';
        var isSentData = false, httpRequestLimit = 30, httpRequestCount = 0;
        var startProcess, btnText, btnBgColor;

        $(function () {
            $('#spinner').hide();
            $('#lblMessage').addClass('default-status-message').html('&nbsp;');

            $("#slider-range-min").slider({
                range: "min",
                value: 22365,
                min: 20000,
                max: 40000,
                slide: function (event, ui) {
                    var mileage = ui ? ui.value : 22365;
                    $("#imgStatus").attr('src', function () {
                        if (mileage > 30000) {
                            return $(this).attr('data-renew');
                        }
                        else {
                            return $(this).attr('data-normal');
                        }
                    });
                    $("#lblMileage").text('Vehicle Odometer: ' + mileage);
                    $("#mileage").val(mileage);
                }
            });

            $slider = $('#slider-range-min');
            if ($slider) {
                $slider.slider('option', 'slide').call($slider);
            }
            $('#btnSend').on('click', function (e) {
                isSentData = !isSentData;
                btnText = btnBgColor = undefined;
                httpRequestCount = 0;

                if (isSentData && startProcess == undefined) {
                    $('#lblMessage').css({ 'background-color': '' }).html('&nbsp;');
                    startSendingData();
                    startProcess = setInterval(function () { startSendingData() }, 5000);
                }
                else {
                    stopSendingData();
                }
            });
        });

        function stopSendingData() {
            isSentData = false;
            httpRequestCount = 0;
            if (startProcess) {
                clearInterval(startProcess);
                startProcess = undefined;
            }
            if ($) {
                $('#btnSend').attr('value', 'Start Sending Data');
                $('#lblMessage').css({ 'background-color': '' }).html('&nbsp;');
                $('#spinner').hide();
            }
        }

        function startSendingData() {
            if (startProcess && isSentData)
                return;
            isSentData = true;
            httpRequestCount++;
            if (isSentData && $ && $("#mileage").val().length > 0) {
                $('#btnSend').attr('value', (isSentData ? 'Stop Sending Data' : 'Start Sending Data'));
                var mileageVal = parseInt($("#mileage").val());
                $('#spinner').hide();
                $.post(urlAction, { mileage: mileageVal }, function (data) {
                    isSentData = false;
                    $('#spinner').hide();
                    if (data) {
                        console.log(data);
                        if (data.toLowerCase().indexOf("completed") != -1) {
                            btnBgColor = "green";
                            btnText = "Completed Successfully";
                            stopSendingData();
                        }
                    }

                    if (btnText && btnBgColor) {
                        $('#lblMessage').css({
                            'background-color': btnBgColor,
                        }).html(btnText);
                        return;
                    }
                    else {
                        $('#lblMessage').addClass('default-status-message').html('&nbsp;');
                    }

                    if (httpRequestCount == httpRequestLimit) {
                        stopSendingData();
                    }
                });
            }
        }
    </script>
}